<div class="console">
  <button class="btn btn-info expand" (click)="expand(undefined)"><span>Console intéractive</span> <i
    class="material-icons"
    *ngIf="isExpand">expand_more</i><i
    class="material-icons" *ngIf="!isExpand">expand_less</i></button>
  <div class="conteneur" *ngIf="isExpand">
    <ace-editor [(text)]="textConsole" class="editor" mode='javascript'
                [options]="{enableBasicAutocompletion: true, enableSnippets: true, enableLiveAutocompletion: false}"></ace-editor>
    <div class="button-panel">
      <button type="button" (click)="evaluate()" class="button btn btn-default">{{'>'}}</button>
      <button (click)="clear()" class="button btn btn-default">x</button>
    </div>
    <div class="resultat">
      <pre *ngFor="let log of output"
           [ngClass]="log.isInfo()?'retour-info':'retour-erreur'">{{log.libelle}}</pre>
    </div>
  </div>
</div>
