.wrapper {
  position: relative;
}

@media print {
  .export {
    display: none;
  }
}

.export {
  display: block;
}

.editor {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
