.console-static {
  position: relative;
}

.export {
  display: block;
  position: absolute;
  right: -1em;
  top: -1em;
  z-index: 4;
}

.wrapper {
  position: relative;
}

@media print {
  .export {
    display: none;
  }
}

.editor {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
